<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Date of Birth</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Bidding Settings</th>
            <th>Google Ads Account ID</th>
            <th></th>
        </tr>
        {% for item in data %}
        <tr> 
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.dateOfBirth }}</td>
            <td>{{ item.companyName }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.telephoneNumber }}</td>
            <td>{{ item.biddingSettings }}</td>
            <td>{{ item.googleAdsID }}</td>
            <td>
                <form action="/form/delete?id={{ item.id }}" method="post">
                    {% csrf_token %}
                    <input id="delete" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
